<!DOCTYPE html>
<html>
<head>
  <title>Diva's Hair Salon</title>
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/styles.css' type='text/css'>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
